@model List<DAL.Models.Attendance>
@{
    ViewBag.Title = "AttendanceDate";
}

<h2>Attendance Date</h2>


<div>
    <form asp-controller="Attendance" asp-action="AttendanceDate" method="get">
        <div class="row">
            <div class="col-2">
                <input class="form-control" type="month" name="date" value="@ViewBag.date.ToString("yyyy-MM")" />
            </div>

            <div class="col-2">
                @Html.DropDownList("EmployeesId", (SelectList)ViewBag.Employees, "All Employees", new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessage("EmployeesId")</span>
            </div>

            <div class="col-2">
                @Html.DropDownList("ShiftId", (SelectList)ViewBag.Shift, "All shifts", new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessage("ShiftId")</span>
            </div>

            <div class="col-2">
                <button class="btn btn-primary" type="submit">search date </button>
            </div>

            <div class="col-2"><button onclick="display()" class="btn btn-primary">Click to Print</button></div>
        </div>
    </form>
</div>


<div>
    <script>
        function display() {
            window.print();
        }
    </script>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Time Attendance</th>
            <th>Time Leave</th>
            <th>Employee Name</th>
            <th>Hours Job</th>
            <th>Shift</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            //var different = item.TimeLeave - item.TimeAttendance;

            <tr>
                <td>@item.TimeAttendance.ToString("yyyy-MM-dd hh:mm:ss tt")</td>
                <td>@item.TimeLeave.ToString("yyyy-MM-dd hh:mm:ss tt")</td>
                <td>@item.Employees.Name</td>

                @if (item.Duration.Hours == 8)
                {
                    <td class="text-success">@item.Duration</td>
                }
                else if (item.Duration.Hours < 8)
                {
                    <td class="text-danger">@item.Duration</td>
                }
                else if (item.Duration.Hours > 8)
                {
                    <td class="text-warning">@item.Duration</td>
                }

                <td>@item.Shift.ShiftName</td>
            </tr>
        }
    </tbody>
</table>
