@model DAL.Models.Attendance
@{
    ViewBag.Title = "EditAttendance";
}

<h2>Edit Attendance</h2>

<form asp-controller="Attendance" asp-action="EditAttendance" method="post">

    @ViewBag.Message
    <div asp-validation-summary="All" class=text-danger></div>

    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        <label>TimeAttendance</label>
        <input type="datetime-local" asp-for="TimeAttendance" class="form-control"/>
        <span class="text-danger" asp-validation-for="TimeAttendance"></span>
    </div>

    <div class="form-group">
        <label>Time Leave</label>
        <input type="datetime-local" asp-for="TimeLeave" class="form-control"/>
        <span class="text-danger" asp-validation-for="TimeLeave"></span>
    </div>


    <div class="form-group">
        <label>Employee Name</label>
        @Html.DropDownListFor(m => m.EmployeesId, (SelectList)ViewData["Employees"], new { @class = "form-control" })
        <span class="text-danger">@Html.ValidationMessageFor(m => m.EmployeesId)</span>
    </div>

    <div class="form-group">
        <label>Shift Name</label>
        @Html.DropDownListFor(m => m.ShiftId, (SelectList)ViewData["Shifts"], new { @class = "form-control" })
        <span class="text-danger">@Html.ValidationMessageFor(m => m.ShiftId)</span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info">Update</button>
    </div>

</form>
